@model IEnumerable<Domain.Entities.Person>

@{
    ViewBag.Title = "Админ: Все пользователи";
}
<h1>Все пользователи</h1>
<table class="Grid">
    <tr>
        <th></th>
        <th>Имя</th>
        <th class="NumericCol"></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.PersonID</td>
        <td>@Html.ActionLink(item.FirstName+" "+item.SecondName, "Edit", new { item.PersonID })</td>
        <td>
            @using (Html.BeginForm("Delete","Admin"))
            {
                @Html.Hidden("PersonID",item.PersonID)
                <input type="submit" value="Delete"/>
            }
        </td>
    </tr>
}
</table>
