@{
    ViewBag.Title = "Homepage";
}
<h2>Здраствуйте,</br> это главная страница вашего менеджера задач</br></h2><h1>
@*строчка только для неавторизированных пользователей*@
<b>войдите </h1>или<h1> зарегистрируйтесь</b></h1><h1>-></h1>

